
70

I created a new Scala/sbt project in IntelliJ IDEA 13. Since other team members will be working on this project (presumably with other IDEs), what should I put in the .gitignore? It seems some of the project dependencies are defined in the .idea folder, so I wasn't sure if I can put the whole directory in .gitignore or not.

    gitscalaintellij-ideasbt

Share
Improve this question
Follow
edited Jun 19, 2014 at 9:20
Jacek Laskowski's user avatar
Jacek Laskowski
74.8k2828 gold badges251251 silver badges437437 bronze badges
asked Jun 19, 2014 at 1:14
anshumans's user avatar
anshumans
4,10522 gold badges2020 silver badges2626 bronze badges
Add a comment
2 Answers
Sorted by:
81

EDIT After discovering Joe:

Just ask Joe to take care of your .gitignore

Original Answer:

Since you're using Scala you should add:

target
*.class

These can be generated back easily and could be machine dependent.

If you're going to use IntelliJ then the following:

*.iml
*.ipr
*.iws
.idea
out

The .idea folder and the .iml files are created and used only by IntelliJ, other IDEs will just ignore them. They can be generated easily by IntelliJ if needed, try deleting your .idea folder and then open the project in IntelliJ and, lo and behold the first thing it does is generate the .idea folder and it's contents.

For Vim:

tags
.*.swp
.*.swo

For Eclipse(Scala IDE):

build
.classpath
.project
.settings
org.scala-ide.sdt.core/META-INF/MANIFEST.MF
org.scala-ide.sdt.update-site/site.xml`

For macOS:

.DS_Store

I think this covers the most popular IDEs for Scala. If someone's using an IDE not covered, you'll have to look around for what temporary and build files they create.
Share
Improve this answer
Follow
edited Jan 23, 2018 at 17:30
Jämes's user avatar
Jämes
7,26544 gold badges4545 silver badges5656 bronze badges
answered Jun 19, 2014 at 1:53
aa333's user avatar
aa333
2,5741818 silver badges2323 bronze badges

    I've used the gen-idea plugin for sbt. I don't know if that can do more than IntelliJ alone. –
    ggovan
    Commented Jun 19, 2014 at 1:57
    How do I ask Joe to take care of it? The tool doesn't seem to have any IntelliJ Idea support. – user1726343
    Commented Aug 6, 2015 at 7:00
    1
    @aa333 Did you mean joe g jetbrains? Without the g it doesn't work for me. Also, joe was rather difficult to configure and it seems to now have some dependency/backward-compatibility issues. (When I run it I get "deprecated cli app action signature... this is an error in the application.") –
    William DeMeo
    Commented May 29, 2016 at 18:17
    that comment is obsolete after recent changes to joe. joe g jetbrains is the correct command with the most recent version. –
    aa333
    Commented May 30, 2016 at 19:30
    2
    Should I add project into .gitignore? It seems to be auto-generated by SBT... –
    iBug
    Commented Feb 26, 2019 at 12:01

Show 1 more comment
Report this ad
38

Here's what gitignore.io suggests for Scala and sbt:

# Created by https://www.gitignore.io/api/sbt,scala

### SBT ###
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

### Scala ###
*.class
*.log

# End of https://www.gitignore.io/api/sbt,scala

.metals
.bloop
.bsp
